# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov/
coverage.xml

# IDE / Editor folders
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Python wheel metadata
pip-wheel-metadata/
